*checkpoint.ipynb
.ipynb_checkpoints
*.csv
*.iml
*.xml
*.json
*.tfevents
*.tsv
*.h5
*.zip
*.pyc
*.pt
*.pkl
*.gz
02-PyTorchTutorial/mnist/MNIST/raw/t10k-labels-idx1-ubyte
02-PyTorchTutorial/mnist/MNIST/raw/t10k-images-idx3-ubyte
02-PyTorchTutorial/mnist/MNIST/raw/train-images-idx3-ubyte
02-PyTorchTutorial/mnist/MNIST/raw/train-labels-idx1-ubyte
